langchain
langchain-core
langchain-community
pypdf
pymupdf
beautifulsoup4
langchain_community
sentence-transformers
faiss-cpu
chromadb
requests
lxml
langchain-text-splitters
langchain-huggingface
flashrank
langchain-openai
langchain-ollama
ragas